/* base setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    color: #383838;
    color: inherit;
}

body {
    background: #f5f5f5;
}

input {
    border: 0;
    outline: 0;
}

button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* class setting */
.flex {
    display: flex;
}
.none {
    display: none;
}

/* @title */
h1 {
    font-size: 80px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
}

/* @todo-container, @todo-section */
.todo-container {
    margin: 10px auto;
    width: 500px;
}
.todo-section {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}

/* @todo-head */

.todo-head {
    border-bottom: 1px solid #eee;
    align-items: center;
}

.todo-head__all-select-btn {
    padding: 10px 22px;
}
.todo-head__all-select-btn::before {
    content: "❯";
    display: inline-block;
    font-size: 22px;
    color: #e6e6e6;
    transform: rotate(90deg);
}
.todo-head__all-select-btn.all-selected::before {
    color: #737373;
}
.todo-head__input {
    font-size: 24px;
    padding: 16px 16px 16px 0;
    flex: 1;
}
.todo-head__input::placeholder {
    color: #e6e7ec;
    font-style: italic;
}

/* @todo-item */
.todo-item {
    padding-left: 0.5rem;
    position: relative;
    align-items: center;
}
.todo-item.selected .todo-item__text {
    color: #999;
    text-decoration: line-through;
}

.todo-item:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.todo-item .todo-item__toggle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.todo-item.selected .todo-item__toggle {
    border: 1px solid #71cab9;
    cursor: pointer;
}
.todo-item.selected .todo-item__toggle::before {
    display: flex;
}

.todo-item .todo-item__toggle::before {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    content: "✓";
    color: #71cab9;
}

.todo-item .todo-item__text {
    flex: 1;
    padding: 1rem;
    user-select: none;
}
.todo-item .todo-item__delete-btn {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #cc9a9a;
    font-size: 0.875rem;
    font-weight: bold;
}

/* @todo-control */
.todo-body__control {
    position: relative;
    border-top: 1px solid #eee;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    color: #777;
    font-size: 14px;
}
.todo-control__btns {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 0.5rem;
}
.todo-control__count {
    gap: 0.45rem;
    align-items: center;
}

.todo-control__btns .todo-control__btn {
    padding: 0.25rem 0.4rem;
    border-radius: 0.25rem;
}
.todo-control__btns .todo-control__btn.selected {
    border: 1px solid rgba(175, 47, 47, 0.2);
}

/* @todo-footer */
.todo-footer {
    margin-top: 6.5rem;
}
.todo-footer p {
    text-align: center;
    color: #bfbfbf;
    font-size: 0.75rem;
}
/* #wrap {
    margin: 0 auto;
    width: 700px;
}
h1 {
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    text-align: center;
}
#input {
    background: #fff;
    box-shadow: 0 2px 4px #666;
    width: 700px;
    height: 60px;
}
#all_sel {
    width: 60px;
    height: 40px;
    float: left;
    font-size: 22px;
    color: #ccc;
    transform: rotate(90deg);
    transform-origin: left top;
    margin-left: 40px;
    text-align: center;
    cursor: default;
}
#all_sel::before {
    content: "❯";
    font-size: 22px;
    color: #ccc;
}
#main {
    background: none;
    border: none;
    font-size: 25px;
    line-height: 40px;
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#main:focus {
    outline: none;
}
#main::placeholder {
    color: #ccc;
}
#list {
    box-shadow: 0 0 4px #666;
    margin-bottom: 200px;
}
.list {
    background: #fff;
    width: 700px;
    height: auto;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.check {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
    margin: auto 11px;
    border: 2px solid #eee;
    position: absolute;
    top: 0;
    bottom: 0;
    color: green;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    user-select: none;
}
.text {
    line-height: 40px;
    padding-top: 10px;
    font-size: 25px;
    width: 600px;
    padding: 10px;
    margin-left: 60px;
    word-break: break-all;
}
#controll {
    background: #fff;
    width: 700px;
    height: 30px;
    display: none;
    color: #aaa;
    justify-content: space-around;
    cursor: default;
}
#flex {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    height: 30px;
}
#flex span {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    line-height: 21px;
    padding: 0 3px;
    cursor: pointer;
}
.sp_ac {
    border: 1px solid gray !important;
}
#item,
#cle {
    margin: 0 20px;
    line-height: 30px;
    width: 120px;
}
#cle:hover {
    text-decoration: underline;
    cursor: pointer;
}
.act .li_ac {
    display: none;
}
.com .list {
    display: none;
}
.com .li_ac {
    display: block !important;
}
.all_ac {
    color: #444 !important;
}
.li_ac {
    color: #aaa;
    text-decoration: line-through;
}
.li_inp {
    background: none;
    font-size: 25px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}
.li_inp:focus {
    outline: none;
}
.close {
    position: absolute;
    font-weight: bold;
    color: red;
    right: 15px;
    bottom: 16px;
    display: none;
    cursor: pointer;
    font-size: 20px;
}
.hov .close {
    display: block;
}
.list_input .close {
    display: none !important;
}
.set_text {
    text-align: center;
    color: rgb(65, 192, 65);
    margin-bottom: 200px;
}
 */
